@font-face {
  font-family: KULDIPA;
  src: url(font/kuldipa.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: KULDIPA, sans-serif;
  color: #0a0a0a;
  background-color: #e7e7e7;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  padding-top: 10px;
}

.header .top-header {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header__img > img {
  width: 70px;
}

.header .top-header__search__bth {
  background: url(img/Search.png) no-repeat center center;
  background-size: 100%;
  border: none;
}

.header .nav__margin {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.header .nav__link {
  color: #0a0a0a;
  opacity: 0.7;
  font-size: 17px;
  letter-spacing: 0.5px;
  word-spacing: 1.55px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}

.header .nav__link__child {
  margin-right: 0;
}

.header .nav__link:hover {
  border-bottom: 1px solid #000;
}

.header .nav__link:active {
  text-decoration: underline;
}

.header .header__fon {
  position: relative;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.header .img__fon {
  width: 100%;
}

.header .animat {
  font-size: 220px;
  text-align: center;
  position: absolute;
}

.header .animat1 {
  top: 57px;
  left: 158px;
  -webkit-animation: infinite animat;
  animation: 8.6s infinite animat;
}

.header .animat2 {
  top: 57px;
  right: 280px;
  -webkit-animation: infinite animat;
  animation: 8.6s infinite animat;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header .animat3 {
  top: 315px;
  left: 206px;
  -webkit-animation: infinite animat;
  animation: 8.6s infinite animat;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header .animat4 {
  top: 315px;
  right: 178px;
  -webkit-animation: infinite animat;
  animation: 8.6s infinite animat;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes animat {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animat {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__fon__two {
  display: none;
}

.text__main__blockquote {
  margin-top: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .card__content {
  width: 340px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 10px;
  padding: 20px 20px;
}

.content .card__content__body {
  text-align: center;
}

.content .card__content__body .card-title {
  font-size: 20px;
}

.content .card__content__body .card__content__text {
  height: 50px;
  vertical-align: middle;
}

.content .card__content__body .card__content__btn {
  background-color: #0a0a0a;
  padding: 8px 30px;
}

.content .card__content__body .toast-header__img {
  width: 30px;
}

.footer__one {
  margin-top: 20px;
  background-color: #0a0a0a;
  color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.footer__one .footer__one__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__one .footer__one__logo .footer__one__img {
  max-width: 170px;
}

.footer__one .footer__one__logo .footer__one__logo__h {
  margin-top: 20px;
}

.footer__one .footer__one__logo .footer__one__logo__h__two {
  opacity: 0.7;
  font-size: 14px;
}

.footer__one .footer__one__logo .footer__one__logo__link {
  text-decoration: none;
  color: #e7e7e7;
  opacity: 0.5;
}

.footer__one .footer__one__text {
  text-align: center;
  margin-top: 30px;
}

.footer__one .footer__one__text .footer__one__text__one {
  font-size: 30px;
  letter-spacing: 1.55px;
}

.footer__one .footer__one__text .footer__one__text__two {
  font-size: 42px;
  letter-spacing: 1.55px;
}

.footer {
  background-color: #ffffff;
}

.footer .footer__two {
  margin-top: 60px;
}

.footer .footer__two .footer__two__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.footer .footer__two .footer__two__menu .footer__two__menu__list__link {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 12px;
}

.footer .footer__two .footer__two__menu .footer__two__menu__list__link:hover {
  opacity: 0.4;
}

.footer .footer__two .footer__two__block {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__two .footer__two__text__contact {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.footer .footer__two .footer__two__form__input::-webkit-input-placeholder {
  font-size: 12px;
  padding-left: 20px;
}

.footer .footer__two .footer__two__form__input:-ms-input-placeholder {
  font-size: 12px;
  padding-left: 20px;
}

.footer .footer__two .footer__two__form__input::-ms-input-placeholder {
  font-size: 12px;
  padding-left: 20px;
}

.footer .footer__two .footer__two__form__input::placeholder {
  font-size: 12px;
  padding-left: 20px;
}

.footer .footer__two .footer__two__tex__link {
  text-decoration: none;
  color: #0a0a0a;
}

@media (max-width: 1024px) {
  .top {
    padding: 0 20px;
  }
  .content {
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .img__fon {
    width: 100%;
  }
  .header .header__fon {
    display: none;
  }
  .header__fon__two {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .content .card__content {
    width: 300px;
  }
}

@media (max-width: 667px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px;
  }
  .content .card__content {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header .header__fon__two {
    display: none;
  }
  .text__container {
    padding-top: 20px;
    font-size: 14px;
  }
  .content {
    margin: 0;
  }
  .content .card__content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__two__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0;
  }
  .footer__two__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__one .footer__one__text .footer__one__text__one {
    font-size: 16px;
  }
  .footer__one .footer__one__text .footer__one__text__two {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */